@mixin FontStyle($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
.topic_main_div:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  background-color: #eee;
  & .rating_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & .star_image {
      margin: 0px 4px;
      cursor: pointer;
    }
  }
}
.overlayeffect {
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
.topic_main_div {
  background: #ffff;
  border-radius: 16px;
  padding: 16px;
  width: 28%;
  & .container_img {
    position: relative;
    & .topic_image {
      width: 100%;
      height: auto;
    }
  }
  & .subHeading {
    margin-top: 10px;
    @include FontStyle(14px, 600, #b5b5b5);
  }
  & .heading {
    @include FontStyle(20px, 800, #3d4d5d);
  }
  & .time_div {
    display: flex;
    align-items: center;
    & .img_time {
      height: 18px !important;
      width: 20px !important;
      margin-right: 5px;
    }
    & .time_date {
      @include FontStyle(15px, 500, #424242);
    }
  }

  & .avatar_div {
    display: flex;
    align-items: center;
    & .user_details {
      margin-left: 10px;
      & .name_details {
        @include FontStyle(16px, 600, #424242);
      }
      & .expert_info {
        @include FontStyle(12px, 500, #8e8e8e);
      }
    }
  }

  & .concept_info {
    margin-top: 20px;
    @include FontStyle(14px, 800, #3d4d5d);
  }
  & .concept_description {
    margin-top: 6px;
    @include FontStyle(15px, 400, #3d4d5d);
    & .read_more_button {
      cursor: pointer;
      @include FontStyle(16px, 700, #4e3bc2);
    }
  }

  & .footer {
    width: 88%;
    margin: 40px auto 10px auto;
    & .submit_assignment {
      width: 100%;
      padding: 10px;
      height: auto;
      border: none;
      margin-top: 20px;
      background: #4e3bc2;
      color: #fff;
      border-radius: 16px;
      cursor: pointer;
    }
  }
}
